<form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="form-group">
        <label for="username">Username</label>
        <input type="username" id="username" formControlName="username" />
    </div>
    @if (usernameIsInvalid) {
        <p>Please enter a valid username</p>
    }
    <div class="form-group">
        <label for="password">Password</label>
        <input type="password" id="password" formControlName="password" />
    </div>
    @if (passwordIsInvalid) {
        <p>Please enter a valid password</p>
    }
    <div>
        <button type="submit" [disabled]="!form.valid">{{ isLoginMode ? 'Login' : 'Sign Up'}}</button> |
        <button type="button" (click)="onSwitchMode()">{{ isLoginMode ? 'Switch to sign up' : 'Switch to login'}}</button>
    </div>
</form>
